@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 31, 31, 31;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  color: rgb(var(--foreground-rgb));
}
body {
  background: rgb(var(--background-rgb));
}

.accent-button {
  @apply text-offwhite bg-accent px-8 py-4 font-bold text-xl;
}

.marquee {
  background-image: url("/MqBg.jpg");
}
